body {
	background-color: black;
	text-align: center;
	font-family: "Lucida Console", monospace;
	font-size: 1.5em;
	color: #1dde16;
	min-height: 100vh;
	margin: 0;
}

.heading {
	margin: 0;
	font-family: "Comic Sans MS", cursive;
	color: red;
	font-size: 4em;
}

#puffy {
	user-select: none;
}
